<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="dash.css">
        <script src="syncopate.js"></script>
        <title>Syncopate Demo</title>
    </head>
    <body>
        <h1>Syncopate Demo</h1>
        <div class="data-wrapper">
            <div class="data-box">
                <label>Num Threads</label>
                <span>{{ jay-mbp.cpu_usage_user }}</span>
            </div>
            <div class="data-box">
                <label>CPU usage</label>
                <span>{{ jay_mbp.cpu_usage_sys }}</span>
            </div>
            <div class="data-box">
                <label>AAPL Price</label>
                <span>{{ jay_mbp.cpu_usage_idle }}</span>
            </div>
        </div>
        <script>
            Syncopate.init("715c15422a2d");
            Syncopate.run();
        </script>
    </body>
</html>
