<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Syncopate Demo</title>
        <link rel="stylesheet" type="text/css" href="graph.css">
        <script src="syncopate.js"></script>
        <script type="text/javascript" src="smoothie.js"></script>
    </head>
    <body>
        <div class="data-wrapper">
            <div class="data-box">
                {{ testgroup.proc_total }}
            </div>
            <div class="data-box">
                {{ testgroup.proc_running }}
            </div>
            <div class="data-box">
                {{ testgroup.proc_sleeping }}
            </div>
            <div class="data-box">
                {{ testgroup.proc_stuck }}
            </div>
            <div class="data-box">
                {{ testgroup.num_threads }}
            </div>
        </div>
        <div class="canvas-wrapper">
            <canvas id="mycanvas" width="1200" height="500"></canvas>
        </div>
        <script>
            var tsMap = {}
            var colorMap = ['rgb(42,153,222)','rgb(187,109,209)','rgb(126,230,183)']

            Syncopate.init("f351753b0ea4");
            Syncopate.run();

            Syncopate.callback = function() {
                var data = Syncopate.data()
                for (var key in data) {
                    if (!(key in tsMap)) {
                        tsMap[key] = new TimeSeries();
                        smoothie.addTimeSeries(tsMap[key], 
                            { strokeStyle: colorMap[Object.keys(tsMap).length-1], lineWidth:3 });
                    }
                    tsMap[key].append(new Date().getTime(), data[key]);
                }
            }

            var smoothie = new SmoothieChart({
                maxValue: 2000,
                minValue: 0,
                grid: { strokeStyle:'rgb(80, 80, 80)', fillStyle:'rgb(35, 35, 35)',
                    lineWidth: 1, millisPerLine: 500, verticalSections: 8, },
                labels: { fillStyle:'rgb(200, 200, 200)' }
            });
            smoothie.streamTo(document.getElementById("mycanvas"), 1000);
        </script>
    </body>
</html>
