<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="syncopate.js"></script>
        <style>
        body {
          font-family: 'Helvetica Neue';
          color: #555;
          background-color: #fff;
          padding-left: 1.8em;
        }
        h1 {
          color: #3085D6;
          font-weight: 200;
          font-size: 2.4em;
        }
        table {
          width: 1000px;
          table-layout: fixed;
          margin-bottom: 0.5em;
        }
        </style>
        <title>iStock</title>
    </head>
    <body>
        <h1>6S Availability</h1>
        <i>Results updated every hour</i>
        <table>
          <tr style="color: #3085D6; height: 40px;">
            <td></td>
            <td>Silver</td>
            <td>Space Gray</td>
            <td>Gold</td>
            <td>Rose Gold</td>
          </tr>
          <tr>
            <td>AT&T 16GB</td>
            <td>{{ silver_4_7_16gb_att }}</td>
            <td>{{ space_gray_4_7_16gb_att }}</td>
            <td>{{ gold_4_7_16gb_att }}</td>
            <td>{{ rose_gold_4_7_16gb_att }}</td>
          </tr>
          <tr>
            <td>AT&T 64GB</td>
            <td>{{ silver_4_7_64gb_att }}</td>
            <td>{{ space_gray_4_7_64gb_att }}</td>
            <td>{{ gold_4_7_64gb_att }}</td>
            <td>{{ rose_gold_4_7_64gb_att }}</td>
          </tr>
          <tr>
            <td>AT&T 128GB</td>
            <td>{{ silver_4_7_128gb_att }}</td>
            <td>{{ space_gray_4_7_128gb_att }}</td>
            <td>{{ gold_4_7_128gb_att }}</td>
            <td>{{ rose_gold_4_7_128gb_att }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>T-Mobile 16GB</td>
            <td>{{ silver_4_7_16gb }}</td>
            <td>{{ space_gray_4_7_16gb }}</td>
            <td>{{ gold_4_7_16gb }}</td>
            <td>{{ rose_gold_4_7_16gb }}</td>
          </tr>
          <tr>
            <td>T-Mobile 64GB</td>
            <td>{{ silver_4_7_64gb }}</td>
            <td>{{ space_gray_4_7_64gb }}</td>
            <td>{{ gold_4_7_64gb }}</td>
            <td>{{ rose_gold_4_7_64gb }}</td>
          </tr>
          <tr>
            <td>T-Mobile 128GB</td>
            <td>{{ silver_4_7_128gb }}</td>
            <td>{{ space_gray_4_7_128gb }}</td>
            <td>{{ gold_4_7_128gb }}</td>
            <td>{{ rose_gold_4_7_128gb }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>Verizon 16GB</td>
            <td>{{ silver_4_7_16gb_verizon }}</td>
            <td>{{ space_gray_4_7_16gb_verizon }}</td>
            <td>{{ gold_4_7_16gb_verizon }}</td>
            <td>{{ rose_gold_4_7_16gb_verizon }}</td>
          </tr>
          <tr>
            <td>Verizon 64GB</td>
            <td>{{ silver_4_7_64gb_verizon }}</td>
            <td>{{ space_gray_4_7_64gb_verizon }}</td>
            <td>{{ gold_4_7_64gb_verizon }}</td>
            <td>{{ rose_gold_4_7_64gb_verizon }}</td>
          </tr>
          <tr>
            <td>Verizon 128GB</td>
            <td>{{ silver_4_7_128gb_verizon }}</td>
            <td>{{ space_gray_4_7_128gb_verizon }}</td>
            <td>{{ gold_4_7_128gb_verizon }}</td>
            <td>{{ rose_gold_4_7_128gb_verizon }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>Sprint 16GB</td>
            <td>{{ silver_4_7_16gb_sprint }}</td>
            <td>{{ space_gray_4_7_16gb_sprint }}</td>
            <td>{{ gold_4_7_16gb_sprint }}</td>
            <td>{{ rose_gold_4_7_16gb_sprint }}</td>
          </tr>
          <tr>
            <td>Sprint 64GB</td>
            <td>{{ silver_4_7_64gb_sprint }}</td>
            <td>{{ space_gray_4_7_64gb_sprint }}</td>
            <td>{{ gold_4_7_64gb_sprint }}</td>
            <td>{{ rose_gold_4_7_64gb_sprint }}</td>
          </tr>
          <tr>
            <td>Sprint 128GB</td>
            <td>{{ silver_4_7_128gb_sprint }}</td>
            <td>{{ space_gray_4_7_128gb_sprint }}</td>
            <td>{{ gold_4_7_128gb_sprint }}</td>
            <td>{{ rose_gold_4_7_128gb_sprint }}</td>
          </tr>
        </table>
        <h1>6S Plus Availability</h1>
        <i>Results updated every hour</i>
        <table>
          <tr style="color: #3085D6; height: 40px;">
            <td></td>
            <td>Silver</td>
            <td>Space Gray</td>
            <td>Gold</td>
            <td>Rose Gold</td>
          </tr>
          <tr>
            <td>AT&T 16GB</td>
            <td>{{ silver_5_5_16gb_att }}</td>
            <td>{{ space_gray_5_5_16gb_att }}</td>
            <td>{{ gold_5_5_16gb_att }}</td>
            <td>{{ rose_gold_5_5_16gb_att }}</td>
          </tr>
          <tr>
            <td>AT&T 64GB</td>
            <td>{{ silver_5_5_64gb_att }}</td>
            <td>{{ space_gray_5_5_64gb_att }}</td>
            <td>{{ gold_5_5_64gb_att }}</td>
            <td>{{ rose_gold_5_5_64gb_att }}</td>
          </tr>
          <tr>
            <td>AT&T 128GB</td>
            <td>{{ silver_5_5_128gb_att }}</td>
            <td>{{ space_gray_5_5_128gb_att }}</td>
            <td>{{ gold_5_5_128gb_att }}</td>
            <td>{{ rose_gold_5_5_128gb_att }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>T-Mobile 16GB</td>
            <td>{{ silver_5_5_16gb }}</td>
            <td>{{ space_gray_5_5_16gb }}</td>
            <td>{{ gold_5_5_16gb }}</td>
            <td>{{ rose_gold_5_5_16gb }}</td>
          </tr>
          <tr>
            <td>T-Mobile 64GB</td>
            <td>{{ silver_5_5_64gb }}</td>
            <td>{{ space_gray_5_5_64gb }}</td>
            <td>{{ gold_5_5_64gb }}</td>
            <td>{{ rose_gold_5_5_64gb }}</td>
          </tr>
          <tr>
            <td>T-Mobile 128GB</td>
            <td>{{ silver_5_5_128gb }}</td>
            <td>{{ space_gray_5_5_128gb }}</td>
            <td>{{ gold_5_5_128gb }}</td>
            <td>{{ rose_gold_5_5_128gb }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>Verizon 16GB</td>
            <td>{{ silver_5_5_16gb_verizon }}</td>
            <td>{{ space_gray_5_5_16gb_verizon }}</td>
            <td>{{ gold_5_5_16gb_verizon }}</td>
            <td>{{ rose_gold_5_5_16gb_verizon }}</td>
          </tr>
          <tr>
            <td>Verizon 64GB</td>
            <td>{{ silver_5_5_64gb_verizon }}</td>
            <td>{{ space_gray_5_5_64gb_verizon }}</td>
            <td>{{ gold_5_5_64gb_verizon }}</td>
            <td>{{ rose_gold_5_5_64gb_verizon }}</td>
          </tr>
          <tr>
            <td>Verizon 128GB</td>
            <td>{{ silver_5_5_128gb_verizon }}</td>
            <td>{{ space_gray_5_5_128gb_verizon }}</td>
            <td>{{ gold_5_5_128gb_verizon }}</td>
            <td>{{ rose_gold_5_5_128gb_verizon }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>Sprint 16GB</td>
            <td>{{ silver_5_5_16gb_sprint }}</td>
            <td>{{ space_gray_5_5_16gb_sprint }}</td>
            <td>{{ gold_5_5_16gb_sprint }}</td>
            <td>{{ rose_gold_5_5_16gb_sprint }}</td>
          </tr>
          <tr>
            <td>Sprint 64GB</td>
            <td>{{ silver_5_5_64gb_sprint }}</td>
            <td>{{ space_gray_5_5_64gb_sprint }}</td>
            <td>{{ gold_5_5_64gb_sprint }}</td>
            <td>{{ rose_gold_5_5_64gb_sprint }}</td>
          </tr>
          <tr>
            <td>Sprint 128GB</td>
            <td>{{ silver_5_5_128gb_sprint }}</td>
            <td>{{ space_gray_5_5_128gb_sprint }}</td>
            <td>{{ gold_5_5_128gb_sprint }}</td>
            <td>{{ rose_gold_5_5_128gb_sprint }}</td>
          </tr>
        </table>
        <script>
            Syncopate.init("3284162738", "istock");
            Syncopate.run();
        </script>
    </body>
</html>
