<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="syncopate.js"></script>
        <title>Syncopate Demo</title>
    </head>
    <body>
        <h1>Top Demo</h1>
        <p>
            Processes: 
            {{ testgroup.proc_total }} total, {{ testgroup.proc_running }} running, 
            {{ testgroup.proc_stuck }} stuck, 
            {{ testgroup.proc_sleeping }} sleeping, 
            {{ testgroup.num_threads }} threads
        </p>
        <p>
            Load Avg: 
            {{ testgroup.load_1 }}, 
            {{ testgroup.load_2 }}, 
            {{ testgroup.load_3 }}
        </p>
        <p>
            CPU usage: 
            {{ testgroup.cpu_usage_user }}% user, 
            {{ testgroup.cpu_usage_sys }}% sys,
            {{ testgroup.cpu_usage_idle }}% idle
        </p>
        <p>
            SharedLibs:
      {{ lib_resident }} resident,
      {{ lib_data }} data,
      {{ lib_linkedit}} linkedit.
        </p>
        <p>
            MemRegions:
      {{ mem_regions_total }} total,
      {{ mem_regions_resident }} resident,
      {{ mem_regions_private }} private,
      {{ mem_regions_shared }} shared.
        </p>
        <p>
            PhysMem:
      {{ phys_used }} used ({{ phys_wired }} wired),
      {{ phys_unused }} unused.
        </p>
        <p>
            VM:
      {{ vm_vsize }} vsize,
      {{ vm_frame_vsize }} framework vsize,
      {{ vm_swapins }} swapins,
      {{ vm_swapouts }} swapouts.
        </p>
        <p>
            Networks:
      packets: {{ net_packets_in }} in,
      {{ net_packets_out }} out.
        </p>
        <p>
            Disks:
      {{ disk_read }} read,
      {{ disk_written }} written.
        </p>
        <table style="width:80%">
            <tr style="font-weight:bold">
              <td>PID</td>
              <td>Command</td>
              <td>%CPU</td>
              <td>Time</td>
              <td>Mem</td>
              <td>User</td>
            </tr>
            <tr>
              <td>{{ pid_0 }}</td>
              <td>{{ command_0 }}</td>
              <td>{{ pct_cpu_0 }}</td>
              <td>{{ time_0 }}</td>
              <td>{{ mem_0 }}</td>
              <td>{{ user_0 }}</td>
            </tr>
            <tr>
              <td>{{ pid_1 }}</td>
              <td>{{ command_1 }}</td>
              <td>{{ pct_cpu_1 }}</td>
              <td>{{ time_1 }}</td>
              <td>{{ mem_1 }}</td>
              <td>{{ user_1 }}</td>
            </tr>
            <tr>
              <td>{{ pid_2 }}</td>
              <td>{{ command_2 }}</td>
              <td>{{ pct_cpu_2 }}</td>
              <td>{{ time_2 }}</td>
              <td>{{ mem_2 }}</td>
              <td>{{ user_2 }}</td>
            </tr>
            <tr>
              <td>{{ pid_3 }}</td>
              <td>{{ command_3 }}</td>
              <td>{{ pct_cpu_3 }}</td>
              <td>{{ time_3 }}</td>
              <td>{{ mem_3 }}</td>
              <td>{{ user_3 }}</td>
            </tr>
            <tr>
              <td>{{ pid_4 }}</td>
              <td>{{ command_4 }}</td>
              <td>{{ pct_cpu_4 }}</td>
              <td>{{ time_4 }}</td>
              <td>{{ mem_4 }}</td>
              <td>{{ user_4 }}</td>
            </tr>
        </table>
        <script>
            Syncopate.init("f351753b0ea4", "testgroup");
            Syncopate.run();
        </script>
    </body>
</html>
