<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="syncopate.js"></script>
        <title>Syncopate Demo</title>
    </head>
    <body style="font-family: 'SF UI Text'; color: #555; background-color: #fff; padding-left: 1.8em">
        <h1 style="color: #3085D6; font-weight:200; font-size: 2.8em; ">Top Demo</h1>
        <p>
            <b>Processes:</b>
            {{ proc_total }} total, {{ proc_running }} running, 
            {{ proc_stuck }} stuck, 
            {{ proc_sleeping }} sleeping, 
            {{ num_threads }} threads
        </p>
        <p>
            <b>Load Avg: </b>
            {{ load_1 }}, 
            {{ load_2 }}, 
            {{ load_3 }}
        </p>
        <p>
            <b>CPU usage: </b>
            {{ cpu_usage_user }}% user, 
            {{ cpu_usage_sys }}% sys,
            {{ cpu_usage_idle }}% idle
        </p>
        <p>
            <b>SharedLibs:</b>
      {{ lib_resident }} resident,
      {{ lib_data }} data,
      {{ lib_linkedit}} linkedit.
        </p>
        <p>
            <b>MemRegions:</b>
      {{ mem_regions_total }} total,
      {{ mem_regions_resident }} resident,
      {{ mem_regions_private }} private,
      {{ mem_regions_shared }} shared.
        </p>
        <p>
            <b>PhysMem:</b>
      {{ phys_used }} used ({{ phys_wired }} wired),
      {{ phys_unused }} unused.
        </p>
        <p>
            <b>VM:</b>
      {{ vm_vsize }} vsize,
      {{ vm_frame_vsize }} framework vsize,
      {{ vm_swapins }} swapins,
      {{ vm_swapouts }} swapouts.
        </p>
        <p>
            <b>Networks:</b>
      packets: {{ net_packets_in }} in,
      {{ net_packets_out }} out.
        </p>
        <p>
            <b>Disks:</b>
      {{ disk_read }} read,
      {{ disk_written }} written.
        </p>
        <table style="width:80%; table-layout: fixed;">
            <tr style="color: #3085D6; height: 40px;">
              <td>PID</td>
              <td>Command</td>
              <td>%CPU</td>
              <td>Time</td>
              <td>NumWQ</td>
              <td>NumTH</td>
              <td>Mem</td>
              <td>User</td>
            </tr>
            <tr>
              <td>{{ pid_0 }}</td>
              <td>{{ command_0 }}</td>
              <td>{{ pct_cpu_0 }}</td>
              <td>{{ time_0 }}</td>
              <td>{{ num_th_0 }}</td>
              <td>{{ num_wq_0 }}</td>
              <td>{{ mem_0 }}</td>
              <td>{{ user_0 }}</td>
            </tr>
            <tr>
              <td>{{ pid_1 }}</td>
              <td>{{ command_1 }}</td>
              <td>{{ pct_cpu_1 }}</td>
              <td>{{ time_1 }}</td>
              <td>{{ num_th_1 }}</td>
              <td>{{ num_wq_1 }}</td>
              <td>{{ mem_1 }}</td>
              <td>{{ user_1 }}</td>
            </tr>
            <tr>
              <td>{{ pid_2 }}</td>
              <td>{{ command_2 }}</td>
              <td>{{ pct_cpu_2 }}</td>
              <td>{{ time_2 }}</td>
              <td>{{ num_th_2 }}</td>
              <td>{{ num_wq_2 }}</td>
              <td>{{ mem_2 }}</td>
              <td>{{ user_2 }}</td>
            </tr>
            <tr>
              <td>{{ pid_3 }}</td>
              <td>{{ command_3 }}</td>
              <td>{{ pct_cpu_3 }}</td>
              <td>{{ time_3 }}</td>
              <td>{{ num_th_3 }}</td>
              <td>{{ num_wq_3 }}</td>
              <td>{{ mem_3 }}</td>
              <td>{{ user_3 }}</td>
            </tr>
            <tr>
              <td>{{ pid_4 }}</td>
              <td>{{ command_4 }}</td>
              <td>{{ pct_cpu_4 }}</td>
              <td>{{ time_4 }}</td>
              <td>{{ num_th_4 }}</td>
              <td>{{ num_wq_4 }}</td>
              <td>{{ mem_4 }}</td>
              <td>{{ user_4 }}</td>
            </tr>
        </table>
        <script>
            Syncopate.init("1671030878", "jay_mbp");
            Syncopate.run();
        </script>
    </body>
</html>
